//display
.block-editor-block-list__layout [data-type="custom-blocks/hero-image"] {
    margin-bottom: 1.2em;
   
}

// .editor-styles-wrapper [data-type="custom-blocks/hero-image"] .wp-block{
//     max-width: 100% !important;
// }
.hero{
    width: 100%;
    height: 300px;    
    background-size:cover;
}


