.editor-post-featured-image {
    width:100%;
    height:auto;
}


//display
.hero{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 300px;

    .overlay-content{
        width: 65%;
        left: 80px;
        bottom: 30px;
        display: block;
        position: absolute;
    }

    
}

.custom-blocks-title{
    display: inline-block;
    width: 100%;
    margin-bottom: .3em !important;
    line-height: 1.2 !important;
}

.custom-blocks-font-size-24.custom-blocks-title {
    font-size: 24px;
}

.custom-blocks-font-size-26.custom-blocks-title {
    font-size: 26px;
}

.custom-blocks-font-size-28.custom-blocks-title {
    font-size: 28px;
}

.custom-blocks-font-size-30.custom-blocks-title {
    font-size: 30px;
}

.custom-blocks-font-size-32.custom-blocks-title {
    font-size: 32px;
}

.custom-blocks-font-size-34.custom-blocks-title {
    font-size: 34px;
}

.custom-blocks-font-size-36.custom-blocks-title {
    font-size: 36px;
}

.custom-blocks-font-size-38.custom-blocks-title{
    font-size: 38px;
}

.custom-blocks-font-size-40.custom-blocks-title {
    font-size: 40px;
}

.custom-blocks-font-size-42.custom-blocks-title {
    font-size: 42px;
}

.custom-blocks-font-size-44.custom-blocks-title {
    font-size: 44px;
}

.custom-blocks-font-size-46.custom-blocks-title {
    font-size: 46px;
}

.custom-blocks-font-size-48.custom-blocks-title {
    font-size: 48px;
}

.custom-blocks-font-size-50.custom-blocks-title {
    font-size: 50px;
}

.custom-blocks-font-size-52.custom-blocks-title {
    font-size: 52px;
}

.custom-blocks-font-size-54.custom-blocks-title {
    font-size: 54px;
}

.custom-blocks-font-size-56.custom-blocks-title {
    font-size: 56px;
}

.custom-blocks-font-size-58.custom-blocks-title {
    font-size: 58px;
}

.custom-blocks-font-size-60.custom-blocks-title {
    font-size: 60px;
}

//text
.custom-blocks-font-size-14.custom-blocks-text {
    font-size: 14px;
}

.custom-blocks-font-size-16.custom-blocks-text {
    font-size: 16px;
}

.custom-blocks-font-size-18.custom-blocks-text {
    font-size: 18px;
}

.custom-blocks-font-size-20.custom-blocks-text {
    font-size: 20px;
}

.custom-blocks-font-size-22.custom-blocks-text {
    font-size: 22px;
}

.custom-blocks-font-size-24.custom-blocks-text {
    font-size: 24px;
}
