.editor-post-featured-image {
    width:100%;
    height:auto;
}


//display
.hero{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 300px;

    .overlay-content{
        width: 65%;
        left: 80px;
        bottom: 30px;
        display: block;
        position: absolute;
    }
}