.hero{
    margin: 0 0 1.2em 0;
	position: relative;
	background: #f2f2f2;
    color: #293038;
	padding: 5% 3%;
	border-radius: 5px;
    .image-wrap{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: 1;

        img{
            max-width: 100%;
            height: auto;
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: .3s ease;
        }
    }

    .has-background-opacity-0{
        opacity: 0;
    }
    .has-background-opacity-10{
        opacity: .1;
    }
    .has-background-opacity-20{
        opacity: .2;
    }
    .has-background-opacity-30{
        opacity: 3;
    }
    .has-background-opacity-40{
        opacity: .4;
    }
    .has-background-opacity-50{
        opacity: .5;
    }
    .has-background-opacity-60{
        opacity: .6;
    }
    .has-background-opacity-70{
        opacity: .7;
    }
    .has-background-opacity-80{
        opacity: .8;
    }
    .has-background-opacity-90{
        opacity: .9;
    }




    .content{
        position: relative;
        z-index: 2;
    }

    .position-1{
        right:0;
    }
}